---
import Layout from './Layout.astro';
import Utterances from '../components/Utterances.astro';
import TableOfContents from '../components/TableOfContents.astro';
import MobileTableOfContents from '../components/MobileTableOfContents.astro';

const { title, description, pubDate, updatedDate, heroImage, headings } = Astro.props;
---

<Layout
	title={title}
	description={description}
	heroImage={heroImage}
	type="blog"
>
	<!-- Mobile Table of Contents -->
	{headings && headings.length > 1 && (
		<MobileTableOfContents headings={headings} />
	)}

	<div class="relative">
		<article class="prose sm:prose-lg text-zinc-900 dark:text-zinc-100 
			prose-a:text-blue-400 
			[&_a]:border-b-[1px]
			[&_a]:!border-blue-400/50
			[&_a:hover]:!border-blue-400
			[&>*]:mb-8
			[&>p]:my-6
			[&>p]:text-justify
			[&>pre]:my-12
			[&>blockquote]:my-12 [&>blockquote]:relative [&>blockquote]:pl-6 [&>blockquote]:border-l-4 [&>blockquote]:border-blue-400 [&>blockquote]:italic
			[&>ul]:my-8
			[&>ol]:my-8
			[&_img]:my-12 
			[&_img]:rounded-[0.5rem]
			[&_img]:mx-auto
			[&_img]:block
			[&>h1]:text-4xl [&>h1]:font-bold [&>h1]:mt-12 [&>h1]:mb-4 [&>h1]:scroll-mt-80 [&>h1]:min-[1500px]:scroll-mt-24
			[&>h2]:text-3xl [&>h2]:font-semibold [&>h2]:mt-12 [&>h2]:mb-4 [&>h2]:scroll-mt-80 [&>h2]:min-[1500px]:scroll-mt-24
			[&>h3]:text-2xl [&>h3]:font-medium [&>h3]:mt-8 [&>h3]:mb-4 [&>h3]:scroll-mt-80 [&>h3]:min-[1500px]:scroll-mt-24
			[&>h4]:text-xl [&>h4]:font-medium [&>h4]:mt-8 [&>h4]:mb-4 [&>h4]:scroll-mt-80 [&>h4]:min-[1500px]:scroll-mt-24
			[&>h5]:text-lg [&>h5]:font-medium [&>h5]:mt-8 [&>h5]:mb-4 [&>h5]:scroll-mt-80 [&>h5]:min-[1500px]:scroll-mt-24
			[&>h6]:text-base [&>h6]:font-medium [&>h6]:mt-8 [&>h6]:mb-4 [&>h6]:scroll-mt-40 [&>h6]:min-[1500px]:scroll-mt-24
			[&_:not(pre)>code]:border-2 
			[&_:not(pre)>code]:border-zinc-300 
			[&_:not(pre)>code]:dark:border-zinc-600 
			[&_:not(pre)>code]:bg-zinc-100 
			[&_:not(pre)>code]:dark:bg-zinc-800 
			[&_:not(pre)>code]:rounded-md
			[&_:not(pre)>code]:px-1.5">
			<slot />
			<Utterances />
		</article>
		
		{headings && headings.length > 1 && (
			<aside class="hidden min-[1500px]:block fixed top-24 left-1/2 ml-[30rem] z-10">
				<TableOfContents headings={headings} />
			</aside>
		)}
	</div>
</Layout>
